@namespace SICEM_Blazor.Recaudacion.Views
@using SICEM_Blazor.Recaudacion.Data
@using SICEM_Blazor.Recaudacion.Models
@using Syncfusion.Blazor.Grids

@if (MostrarVentana) {
    <VentanaSecundaria Titulo="@Titulo" CerrarVentana="@Cerrar_Modal" Filas="@(new double[]{620})" Columnas="@(new double[]{.85})" >
        <Content>
            <MatTabGroup @ref="tabGroup" Class="mx-1 mt-2 mb-1 p-1 border rounded bg-white" Style="grid-row: 1/2; grid-column:1/2;">

                <MatTab>
                    <LabelContent><span class="h5">Analitico</span></LabelContent>
                    <ChildContent>
                        <div class="p-1 w-100 h-100" Style="display:grid; grid-template-rows: auto auto 180px 285px; grid-template-columns: 100%;">
                            <div class="m-1 p-2 border rounded bg-white" style="grid-row: 1/2; grid-column: 1/2;">
                                <div class="w-100 d-flex align-items-center">
                                    <div class="btn-group btn-group-lg" style="margin-right: 5rem;" role="group" aria-label="Basic example">
                                        <button type="button" class="btn btn-secondary" @onclick="@(() => GrupoBotonesClick(11))">Mensual</button>
                                        <button type="button" class="btn btn-secondary" @onclick="@(() => GrupoBotonesClick(12))">Quincenal</button>
                                        <button type="button" class="btn btn-secondary" @onclick="@(() => GrupoBotonesClick(13))">Semanal</button>
                                    </div>

                                    <MatButton Class="mr-2" Raised="true" Style="height:2.5rem;" OnClick="@(() => GenerarExcel(0))">
                                        <i class="fa fa-file-excel-o me-2 mr-2" aria-hidden="true"></i>
                                        <span>Exportar Excel</span>
                                    </MatButton>
                                </div>
                            </div>

                            <div class="mx-auto mt-3" style="grid-row: 2/3; grid-column: 1/2;"><h5>@subtitulo1</h5></div>

                            <!-- ****** DataGrids ****** -->
                            <div class="m-1 p-2 border rounded bg-white" style="grid-row: 3/4; grid-column: 1/2;">
                                @if (visibles[0, 0]) {
                                    <SfGrid @ref="dataGrid_analitico_mensual" DataSource="@DatosAnalitico.Analitico_Mensual.OrderByDescending(item => item.Año)" AllowSorting="true" AllowFiltering="false" AllowExcelExport="true" AllowPdfExport="true" Height="100%" Width="auto" EnableHover="true" RowHeight="@rowHeight">
                                        <GridColumns>
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoMensual.Oficina)" HeaderText="Oficina" TextAlign="TextAlign.Center" Width="120" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoMensual.Año)" HeaderText="Año" TextAlign="TextAlign.Center" Width="130" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoMensual.Ene)" HeaderText="Enero" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoMensual.Feb)" HeaderText="Febrero" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoMensual.Mar)" HeaderText="Marzo" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoMensual.Abr)" HeaderText="Abril" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoMensual.May)" HeaderText="Mayo" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoMensual.Jun)" HeaderText="Junio" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoMensual.Jul)" HeaderText="Julio" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoMensual.Ago)" HeaderText="Agosto" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoMensual.Sep)" HeaderText="Septiembre" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoMensual.Oct)" HeaderText="Octubre" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoMensual.Nov)" HeaderText="Noviembre" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoMensual.Dic)" HeaderText="Diciembre" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoMensual.Total)" HeaderText="Total" TextAlign="TextAlign.Right" Width="150" Format="c2" />
                                        </GridColumns>
                                    </SfGrid>
                                }
                                @if (visibles[0, 1]) {
                                    <SfGrid @ref="dataGrid_analitico_quincenal" DataSource="@DatosAnalitico.Analitico_Quincenal.OrderByDescending(item => item.Año)" AllowSorting="true" AllowFiltering="false" AllowExcelExport="true" AllowPdfExport="true" Height="100%" Width="auto" EnableHover="true" RowHeight="@rowHeight">
                                        <GridColumns>
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoQuincenal.Oficina)" HeaderText="Oficina" TextAlign="TextAlign.Center" Width="120" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoQuincenal.Año)" HeaderText="Año" TextAlign="TextAlign.Center" Width="130" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoQuincenal.Ene_1)" HeaderText="Enero 1" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoQuincenal.Ene_2)" HeaderText="Enero 2" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoQuincenal.Feb_1)" HeaderText="Febrero 1" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoQuincenal.Feb_2)" HeaderText="Febrero 2" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoQuincenal.Mar_1)" HeaderText="Marzo 1" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoQuincenal.Mar_2)" HeaderText="Marzo 2" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoQuincenal.Abr_1)" HeaderText="Abril 1" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoQuincenal.Abr_2)" HeaderText="Abril 2" TextAlign="TextAlign.Right" Width="10" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoQuincenal.May_1)" HeaderText="Mayo 1" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoQuincenal.May_2)" HeaderText="Mayo 2" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoQuincenal.Jun_1)" HeaderText="Junio 1" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoQuincenal.Jun_2)" HeaderText="Junio 2" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoQuincenal.Jul_1)" HeaderText="Julio 1" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoQuincenal.Jul_2)" HeaderText="Julio 2" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoQuincenal.Ago_1)" HeaderText="Agosto 1" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoQuincenal.Ago_2)" HeaderText="Agosto 2" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoQuincenal.Sep_1)" HeaderText="Septiembre 1" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoQuincenal.Sep_2)" HeaderText="Septiembre 2" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoQuincenal.Oct_1)" HeaderText="Octubre 1" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoQuincenal.Oct_2)" HeaderText="Octubre 2" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoQuincenal.Nov_1)" HeaderText="Noviembre 1" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoQuincenal.Nov_2)" HeaderText="Noviembre 2" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoQuincenal.Dic_1)" HeaderText="Diciembre 1" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoQuincenal.Dic_2)" HeaderText="Diciembre 2" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoQuincenal.Total)" HeaderText="Total" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                        </GridColumns>
                                    </SfGrid>
                                }
                                @if (visibles[0, 2]) {
                                    <SfGrid @ref="dataGrid_analitico_semanal" DataSource="@DatosAnalitico.Analitico_Semanal.OrderByDescending(item => item.Año)" AllowSorting="true" AllowFiltering="false" AllowExcelExport="true" AllowPdfExport="true" Height="100%" Width="auto" EnableHover="true" RowHeight="@rowHeight">
                                        <GridColumns>
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Oficina)" HeaderText="Oficina" TextAlign="TextAlign.Center" Width="120" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Año)" HeaderText="Año" TextAlign="TextAlign.Center" Width="130" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Ene_1)" HeaderText="Enero 1" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Ene_2)" HeaderText="Enero 2" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Ene_3)" HeaderText="Enero 3" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Ene_4)" HeaderText="Enero 3" TextAlign="TextAlign.Right" Width="110" Format="c2" />

                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Feb_1)" HeaderText="Febrero 1" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Feb_2)" HeaderText="Febrero 2" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Feb_3)" HeaderText="Febrero 3" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Feb_4)" HeaderText="Febrero 4" TextAlign="TextAlign.Right" Width="110" Format="c2" />

                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Mar_1)" HeaderText="Marzo 1" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Mar_2)" HeaderText="Marzo 2" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Mar_3)" HeaderText="Marzo 3" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Mar_4)" HeaderText="Marzo 4" TextAlign="TextAlign.Right" Width="110" Format="c2" />

                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Abr_1)" HeaderText="Abril 1" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Abr_2)" HeaderText="Abril 2" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Abr_3)" HeaderText="Abril 3" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Abr_4)" HeaderText="Abril 4" TextAlign="TextAlign.Right" Width="110" Format="c2" />

                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.May_1)" HeaderText="Mayo 1" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.May_2)" HeaderText="Mayo 2" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.May_3)" HeaderText="Mayo 3" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.May_4)" HeaderText="Mayo 4" TextAlign="TextAlign.Right" Width="110" Format="c2" />

                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Jun_1)" HeaderText="Junio 1" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Jun_2)" HeaderText="Junio 2" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Jun_3)" HeaderText="Junio 3" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Jun_4)" HeaderText="Junio 4" TextAlign="TextAlign.Right" Width="110" Format="c2" />

                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Jul_1)" HeaderText="Julio 1" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Jul_2)" HeaderText="Julio 2" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Jul_3)" HeaderText="Julio 3" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Jul_4)" HeaderText="Julio 4" TextAlign="TextAlign.Right" Width="110" Format="c2" />

                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Ago_1)" HeaderText="Agosto 1" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Ago_2)" HeaderText="Agosto 2" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Ago_3)" HeaderText="Agosto 3" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Ago_4)" HeaderText="Agosto 4" TextAlign="TextAlign.Right" Width="110" Format="c2" />

                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Sep_1)" HeaderText="Septiembre 1" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Sep_2)" HeaderText="Septiembre 2" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Sep_3)" HeaderText="Septiembre 3" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Sep_4)" HeaderText="Septiembre 4" TextAlign="TextAlign.Right" Width="110" Format="c2" />

                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Oct_1)" HeaderText="Octubre 1" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Oct_2)" HeaderText="Octubre 2" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Oct_3)" HeaderText="Octubre 3" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Oct_4)" HeaderText="Octubre 4" TextAlign="TextAlign.Right" Width="110" Format="c2" />

                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Nov_1)" HeaderText="Noviembre 1" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Nov_2)" HeaderText="Noviembre 2" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Nov_3)" HeaderText="Noviembre 3" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Nov_4)" HeaderText="Noviembre 4" TextAlign="TextAlign.Right" Width="110" Format="c2" />

                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Dic_1)" HeaderText="Diciembre 1" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Dic_2)" HeaderText="Diciembre 2" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Dic_3)" HeaderText="Diciembre 3" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Dic_4)" HeaderText="Diciembre 4" TextAlign="TextAlign.Right" Width="110" Format="c2" />

                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Total)" HeaderText="Total" TextAlign="TextAlign.Right" Width="150" Format="c2" />
                                        </GridColumns>
                                    </SfGrid>
                                }
                            </div>

                            <!-- ****** Graficas ****** -->
                            <div class="m-1 p-2 border rounded bg-white" style="grid-row: 4/5; grid-column: 1/2;">
                                <SfChart Title="" SubTitle="" Width="100%" Height="270">
                                    <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"></ChartPrimaryXAxis>
                                    <ChartPrimaryYAxis Title="Ingresos" Visible="false" LabelFormat="c2" />
                                    <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
                                    <ChartLegendSettings Visible="true" Position="LegendPosition.Right"></ChartLegendSettings>
                                    <ChartZoomSettings EnableMouseWheelZooming="true" EnablePinchZooming="true" EnableSelectionZooming="true"></ChartZoomSettings>
                                    <ChartSeriesCollection>
                                        @for(int i = 0; i <= DatosAnalitico.Analitico_Mensual.Length - 1; i++) {
                                            var ano = DatosAnalitico.Analitico_Mensual.OrderByDescending(item => item.Año).ToArray()[i].Año;
                                            <ChartSeries XName="Descripcion" DashArray="5,1" DataSource="@itemsGrafica_analitico" YName="@($"Valor{i+1}")" Name="@(ano.ToString())" Type="ChartSeriesType.Line">
                                                <ChartMarker Visible="true">
                                                    <ChartDataLabel Visible="true" />
                                                </ChartMarker>
                                            </ChartSeries>
                                        }
                                    </ChartSeriesCollection>
                                </SfChart>
                            </div>

                        </div>
                    </ChildContent>
                </MatTab>

                <MatTab>
                    <LabelContent><span class="h5">Analitico Rezago</span></LabelContent>
                    <ChildContent>
                        <div class="p-1 w-100 h-100" Style="display:grid; grid-template-rows: auto auto 180px 285px; grid-template-columns: 100%;">
                            <div class="m-1 p-2 border rounded bg-white" style="grid-row: 1/2; grid-column: 1/2;">
                                <div class="w-100 d-flex align-items-center">
                                    <div class="btn-group btn-group-lg" style="margin-right: 5rem;" role="group" aria-label="Basic example">
                                        <button type="button" class="btn btn-secondary" @onclick="@(() => GrupoBotonesClick(21))">Mensual</button>
                                        <button type="button" class="btn btn-secondary" @onclick="@(() => GrupoBotonesClick(22))">Quincenal</button>
                                        <button type="button" class="btn btn-secondary" @onclick="@(() => GrupoBotonesClick(23))">Semanal</button>
                                    </div>
                                    <MatButton Class="mr-2" Raised="true" Style="height:2.5rem;" OnClick="@(() => GenerarExcel(1))">
                                        <i class="fa fa-file-excel-o me-2 mr-2" aria-hidden="true"></i>
                                        <span>Exportar Excel</span>
                                    </MatButton>
                                </div>
                            </div>

                            <div class="mx-auto mt-3" style="grid-row: 2/3; grid-column: 1/2;"><h5>@subtitulo2</h5></div>

                            <div class="m-1 p-2 border rounded bg-white" style="grid-row: 3/4; grid-column: 1/2;">
                                @if (visibles[1, 0]) {
                                    <SfGrid @ref="dataGrid_analiticoRez_mensual" DataSource="@DatosAnalitico.AnaliticoRez_Mensual.OrderByDescending(item => item.Año)" AllowSorting="true" AllowFiltering="false" AllowExcelExport="true" AllowPdfExport="true" Height="100%" Width="auto" EnableHover="true" RowHeight="@rowHeight">
                                        <GridColumns>
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoMensual.Oficina)" HeaderText="Oficina" TextAlign="TextAlign.Center" Width="120" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoMensual.Año)" HeaderText="Año" TextAlign="TextAlign.Center" Width="130" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoMensual.Ene)" HeaderText="Enero" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoMensual.Feb)" HeaderText="Febrero" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoMensual.Mar)" HeaderText="Marzo" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoMensual.Abr)" HeaderText="Abril" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoMensual.May)" HeaderText="Mayo" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoMensual.Jun)" HeaderText="Junio" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoMensual.Jul)" HeaderText="Julio" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoMensual.Ago)" HeaderText="Agosto" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoMensual.Sep)" HeaderText="Septiembre" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoMensual.Oct)" HeaderText="Octubre" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoMensual.Nov)" HeaderText="Noviembre" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoMensual.Dic)" HeaderText="Diciembre" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoMensual.Total)" HeaderText="Total" TextAlign="TextAlign.Right" Width="150" Format="c2" />
                                        </GridColumns>
                                    </SfGrid>
                                }
                                @if (visibles[1, 1]) {
                                    <SfGrid @ref="dataGrid_analiticoRez_quincenal" DataSource="@DatosAnalitico.AnaliticoRez_Quincenal.OrderByDescending(item => item.Año)" AllowSorting="true" AllowFiltering="false" AllowExcelExport="true" AllowPdfExport="true" Height="100%" Width="auto" EnableHover="true" RowHeight="@rowHeight">
                                        <GridColumns>
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoQuincenal.Oficina)" HeaderText="Oficina" TextAlign="TextAlign.Center" Width="120" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoQuincenal.Año)" HeaderText="Año" TextAlign="TextAlign.Center" Width="130" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoQuincenal.Ene_1)" HeaderText="Enero 1" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoQuincenal.Ene_2)" HeaderText="Enero 2" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoQuincenal.Feb_1)" HeaderText="Febrero 1" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoQuincenal.Feb_2)" HeaderText="Febrero 2" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoQuincenal.Mar_1)" HeaderText="Marzo 1" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoQuincenal.Mar_2)" HeaderText="Marzo 2" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoQuincenal.Abr_1)" HeaderText="Abril 1" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoQuincenal.Abr_2)" HeaderText="Abril 2" TextAlign="TextAlign.Right" Width="10" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoQuincenal.May_1)" HeaderText="Mayo 1" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoQuincenal.May_2)" HeaderText="Mayo 2" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoQuincenal.Jun_1)" HeaderText="Junio 1" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoQuincenal.Jun_2)" HeaderText="Junio 2" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoQuincenal.Jul_1)" HeaderText="Julio 1" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoQuincenal.Jul_2)" HeaderText="Julio 2" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoQuincenal.Ago_1)" HeaderText="Agosto 1" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoQuincenal.Ago_2)" HeaderText="Agosto 2" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoQuincenal.Sep_1)" HeaderText="Septiembre 1" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoQuincenal.Sep_2)" HeaderText="Septiembre 2" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoQuincenal.Oct_1)" HeaderText="Octubre 1" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoQuincenal.Oct_2)" HeaderText="Octubre 2" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoQuincenal.Nov_1)" HeaderText="Noviembre 1" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoQuincenal.Nov_2)" HeaderText="Noviembre 2" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoQuincenal.Dic_1)" HeaderText="Diciembre 1" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoQuincenal.Dic_2)" HeaderText="Diciembre 2" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoQuincenal.Total)" HeaderText="Total" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                        </GridColumns>
                                    </SfGrid>
                                }
                                @if (visibles[1, 2]) {
                                    <SfGrid @ref="dataGrid_analiticoRez_semanal" DataSource="@DatosAnalitico.AnaliticoRez_Semanal.OrderByDescending(item => item.Año)" AllowSorting="true" AllowFiltering="false" AllowExcelExport="true" AllowPdfExport="true" Height="100%" Width="auto" EnableHover="true" RowHeight="@rowHeight"> 
                                        <GridColumns>
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Oficina)" HeaderText="Oficina" TextAlign="TextAlign.Center" Width="120" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Año)" HeaderText="Año" TextAlign="TextAlign.Center" Width="130" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Ene_1)" HeaderText="Enero 1" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Ene_2)" HeaderText="Enero 2" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Ene_3)" HeaderText="Enero 3" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Ene_4)" HeaderText="Enero 3" TextAlign="TextAlign.Right" Width="110" Format="c2" />

                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Feb_1)" HeaderText="Febrero 1" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Feb_2)" HeaderText="Febrero 2" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Feb_3)" HeaderText="Febrero 3" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Feb_4)" HeaderText="Febrero 4" TextAlign="TextAlign.Right" Width="110" Format="c2" />

                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Mar_1)" HeaderText="Marzo 1" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Mar_2)" HeaderText="Marzo 2" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Mar_3)" HeaderText="Marzo 3" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Mar_4)" HeaderText="Marzo 4" TextAlign="TextAlign.Right" Width="110" Format="c2" />

                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Abr_1)" HeaderText="Abril 1" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Abr_2)" HeaderText="Abril 2" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Abr_3)" HeaderText="Abril 3" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Abr_4)" HeaderText="Abril 4" TextAlign="TextAlign.Right" Width="110" Format="c2" />

                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.May_1)" HeaderText="Mayo 1" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.May_2)" HeaderText="Mayo 2" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.May_3)" HeaderText="Mayo 3" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.May_4)" HeaderText="Mayo 4" TextAlign="TextAlign.Right" Width="110" Format="c2" />

                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Jun_1)" HeaderText="Junio 1" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Jun_2)" HeaderText="Junio 2" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Jun_3)" HeaderText="Junio 3" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Jun_4)" HeaderText="Junio 4" TextAlign="TextAlign.Right" Width="110" Format="c2" />

                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Jul_1)" HeaderText="Julio 1" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Jul_2)" HeaderText="Julio 2" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Jul_3)" HeaderText="Julio 3" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Jul_4)" HeaderText="Julio 4" TextAlign="TextAlign.Right" Width="110" Format="c2" />

                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Ago_1)" HeaderText="Agosto 1" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Ago_2)" HeaderText="Agosto 2" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Ago_3)" HeaderText="Agosto 3" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Ago_4)" HeaderText="Agosto 4" TextAlign="TextAlign.Right" Width="110" Format="c2" />

                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Sep_1)" HeaderText="Septiembre 1" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Sep_2)" HeaderText="Septiembre 2" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Sep_3)" HeaderText="Septiembre 3" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Sep_4)" HeaderText="Septiembre 4" TextAlign="TextAlign.Right" Width="110" Format="c2" />

                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Oct_1)" HeaderText="Octubre 1" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Oct_2)" HeaderText="Octubre 2" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Oct_3)" HeaderText="Octubre 3" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Oct_4)" HeaderText="Octubre 4" TextAlign="TextAlign.Right" Width="110" Format="c2" />

                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Nov_1)" HeaderText="Noviembre 1" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Nov_2)" HeaderText="Noviembre 2" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Nov_3)" HeaderText="Noviembre 3" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Nov_4)" HeaderText="Noviembre 4" TextAlign="TextAlign.Right" Width="110" Format="c2" />

                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Dic_1)" HeaderText="Diciembre 1" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Dic_2)" HeaderText="Diciembre 2" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Dic_3)" HeaderText="Diciembre 3" TextAlign="TextAlign.Right" Width="110" Format="c2" />
                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Dic_4)" HeaderText="Diciembre 4" TextAlign="TextAlign.Right" Width="110" Format="c2" />

                                            <GridColumn Field="@nameof(Recaudacion_AnaliticoSemanal.Total)" HeaderText="Total" TextAlign="TextAlign.Right" Width="150" Format="c2" />
                                        </GridColumns>
                                    </SfGrid>
                                }
                            </div>

                            <div class="m-1 p-2 border rounded bg-white" style="grid-row: 4/5; grid-column: 1/2;">
                                <SfChart Title="" SubTitle="" Width="100%" Height="270">
                                    <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category" > </ChartPrimaryXAxis>
                                    <ChartPrimaryYAxis Title="Ingresos Rez" Visible="false" Format="c2" />
                                    <ChartTooltipSettings Enable="true" Header="Ingresos" Shared="true" Format="${series.name} ${point.x} : $${point.y}"></ChartTooltipSettings>
                                    <ChartLegendSettings Visible="true" Position="LegendPosition.Right"></ChartLegendSettings>
                                    <ChartZoomSettings EnableMouseWheelZooming="true" EnablePinchZooming="true" EnableSelectionZooming="true"></ChartZoomSettings>
                                    <ChartArea>
                                        <ChartAreaBorder Width="0"></ChartAreaBorder>
                                    </ChartArea>
                                    <ChartSeriesCollection>
                                        @for (int i = 0; i <= DatosAnalitico.AnaliticoRez_Mensual.Length - 1; i++) {
                                            var ano2 = DatosAnalitico.AnaliticoRez_Mensual.OrderByDescending(item => item.Año).ToArray()[i].Año;
                                            <ChartSeries XName="Descripcion" DashArray="5,1" DataSource="@itemsGrafica_analiticoRez" YName="@($"Valor{i+1}")" Name="@(ano2.ToString())" Type="ChartSeriesType.Line">
                                                <ChartMarker Visible="true">
                                                    <ChartDataLabel Visible="true"/>
                                                </ChartMarker>
                                            </ChartSeries>
                                        }
                                    </ChartSeriesCollection>
                                </SfChart>
                            </div>

                        </div>
                    </ChildContent>
                </MatTab>

            </MatTabGroup>
        </Content>
    </VentanaSecundaria>
}