@namespace SICEM_Blazor.Recaudacion.Views
@page "/Recaudacion"

@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Charts
@using System.Threading.Tasks
@using SICEM_Blazor.Areas.Recaudacion.Views
@using SICEM_Blazor.Recaudacion.Models
@using SICEM_Blazor.Recaudacion.Data

<div class="layout-page1">

    <div class="title-page" style="grid-area:1/1/2/2;">CONSULTA DE INGRESOS</div>

    <div class="border rounded bg-white px-2 d-flex align-items-center" style="grid-area:2/1/3/2;">
        <SeleccionarFecha ProcesarParam="@Procesar" MostrarPeriodos="false" />
    </div>

    @* ****** Acciones ****** *@
    <div class="border rounded bg-white d-flex align-items-center" style="grid-area:3/1/4/2;">
        <MatButton Class="mx-2" style="min-width: 130px;" Raised="true" @onclick="ExportarExcelClick">Exportar Excel</MatButton>
        <MatButton Class="mx-2" style="min-width: 130px;" Raised="true" Disabled="true">Generar Reporte</MatButton>
    </div>

    @* ****** DataGrid ****** *@
    <div class="border rounded bg-white p-2 d-flex" style="grid-area:4/1/5/2;">
        <SfGrid @ref="dataGrid" DataSource="@datosRecaudacion" TValue="ResumenOficina" AllowResizing="true" AllowSorting="true" AllowFiltering="false"
                AllowExcelExport="true" Height="100%" Width="100%" EnableHover="true">
            <GridColumns>
                <GridColumn HeaderText="" TextAlign="TextAlign.Center" Width="40">
                    <Template>
                        @{
                            var data = (context as ResumenOficina);
                            if(data.Id > 0 && data.Id < 999) {
                                @switch (data.Estatus)
                                {
                                    case ResumenOficinaEstatus.Completado:
                                        <i class="fas fa-check-circle" style="color:green; font-size:1.5rem;"></i>
                                        break;

                                    case ResumenOficinaEstatus.Error:
                                        <i class="fas fa-exclamation-circle" style="color:red; font-size:1.5rem;"></i>
                                        break;

                                    default:
                                        <div class="spinner-border p-2" role="status"> </div>
                                        break;
                                }
                            }
                        }
                    </Template>
                </GridColumn>
                <GridColumn Field="@nameof(ResumenOficina.Oficina)" HeaderText="Oficina" TextAlign="TextAlign.Left" Width="170" />
                <GridColumn Field="@nameof(ResumenOficina.IngresosPropios)" HeaderText="Ingresos Propios" TextAlign="TextAlign.Right" Width="125" Format="c2" />
                <GridColumn Field="@nameof(ResumenOficina.RecibosPropios)" HeaderText="Recibos Propios" TextAlign="TextAlign.Right" Width="115" Format="n0" />

                <GridColumn Field="@nameof(ResumenOficina.IngresosOtros)" HeaderText="Ingresos Otros" TextAlign="TextAlign.Right" Width="125" Format="c2" />
                <GridColumn Field="@nameof(ResumenOficina.RecibosOtros)" HeaderText="Recibos Otros" TextAlign="TextAlign.Right" Width="115" Format="n0" />

                <GridColumn Field="@nameof(ResumenOficina.ImporteTotal)" HeaderText="Total Ingresos" TextAlign="TextAlign.Right" Width="125" Format="c2" />
                <GridColumn Field="@nameof(ResumenOficina.Usuarios)" HeaderText="Total Usuarios" TextAlign="TextAlign.Center" Width="115" Format="n0" />

                <GridColumn HeaderText="Acciones" TextAlign="TextAlign.Left" Width="230">
                    <Template>
                        @{
                            var data = (context as ResumenOficina);
                            if (data.Id > 0 && data.Id < 90) {
                                <div class="d-flex p-1">
                                    <button type="button" class="btn btn-primary btn-sm mx-1" data-toggle="tooltip" data-placement="top" title="Analitico" disabled="@(data.Estatus != ResumenOficinaEstatus.Completado )" @onclick=@( e => AnaliticoClick(data) )>
                                        <i class="fa fa-chart-line" aria-hidden="true"></i>
                                    </button>
                                    
                                    <button type="button" class="btn btn-primary btn-sm mx-1" data-toggle="tooltip" data-placement="top" title="Rezago" disabled="@(data.Estatus != ResumenOficinaEstatus.Completado )" @onclick=@( e => Rezago_Click(data) )>
                                        <i class="fa fa-hand-holding-usd" aria-hidden="true"></i>
                                    </button>

                                    <button type="button" class="btn btn-primary btn-sm mx-1" data-toggle="tooltip" data-placement="top" title="Ingresos por Dias" disabled="@(data.Estatus != ResumenOficinaEstatus.Completado )" @onclick=@( e => IngresosDias_Click(data) )>
                                        <i class="fa fa-calendar-day" aria-hidden="true"></i>
                                    </button>
                                    
                                    <button type="button" class="btn btn-primary btn-sm mx-1" data-toggle="tooltip" data-placement="top" title="Ingresos por Cajas" disabled="@(data.Estatus != ResumenOficinaEstatus.Completado )" @onclick=@( e => IngresosCajas_Click(data) )>
                                        <i class="fa fa-cash-register" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="btn btn-primary btn-sm mx-1" data-toggle="tooltip" data-placement="top" title="Ingreso por Conceptos" disabled="@(data.Estatus != ResumenOficinaEstatus.Completado )" @onclick=@( e => IngresosConceptos_Click(data) )>
                                        <i class="fa fa-tag" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="btn btn-primary btn-sm mx-1" data-toggle="tooltip" data-placement="top" title="Ingresos por Tipo de Usuario" disabled="@(data.Estatus != ResumenOficinaEstatus.Completado )" @onclick=@( e => IngresosTipoUsuarios_Click(data) )>
                                        <i class="fa fa-bookmark" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="btn btn-primary btn-sm mx-1" data-toggle="tooltip" data-placement="top" title="Ingresos por Localidades" disabled="@(data.Estatus != ResumenOficinaEstatus.Completado )" @onclick=@( e => IngresosPoPoblacion_Click(data) )>
                                        <i class="fa fa-building" aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="btn btn-primary btn-sm mx-1" data-toggle="tooltip" data-placement="top" title="Top Ingresos Altos" disabled="@(data.Estatus != ResumenOficinaEstatus.Completado )" @onclick=@( e => IngresosAltos_Click(data) )>
                                        <i class="fa fa-bar-chart" aria-hidden="true"></i>
                                    </button>
                                    
                                    <button type="button" class="btn btn-primary btn-sm mx-1" data-toggle="tooltip" data-placement="top" title="Ingresos por Formas de Pago" disabled="@(data.Estatus != ResumenOficinaEstatus.Completado )" @onclick=@( e => IngresosFormasdePago_Click(data) )>
                                        <i class="fa fa-bookmark" aria-hidden="true"></i>
                                    </button>
                                    
                                    <button type="button" class="btn btn-primary btn-sm mx-1" data-toggle="tooltip" data-placement="top" title="Ingresos por Conceptos y Tipos de Usuarios" disabled="@(data.Estatus != ResumenOficinaEstatus.Completado )" @onclick=@( e => IngresosPorConceptosTiposUsuarios(data) )>
                                        <i class="fa fa-people-arrows" aria-hidden="true"></i>
                                    </button>
                                </div>
                            }
                        }
                    </Template>
                </GridColumn>
            </GridColumns>
        </SfGrid>
    </div>

    <!--- ****** Graficas ****** -->
    <div class="d-flex" style="grid-area:5/1/6/2;">
        <div class="border rounded bg-white mr-1 d-flex flex-column align-items-center" style="width:50%; height:100%;">
            <SfChart @ref="graficaIngresos" Title="INGRESOS" Height="100%" Width="100%">
                <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"></ChartPrimaryXAxis>
                <ChartPrimaryYAxis Visible="false" LabelFormat="c2" />
                <ChartTooltipSettings Enable="true" Header="Ingresos" Format="<b>${series.name}</b> : ${point.y}" Shared="true"></ChartTooltipSettings>
                <ChartSeriesCollection>
                    <ChartSeries DataSource="@datosGraficaIngresos" Name="Cobrados" XName="Descripcion" YName="Valor1" Type="ChartSeriesType.StackingColumn">
                        <ChartMarker>
                            <ChartDataLabel Visible="true" Position="Syncfusion.Blazor.Charts.LabelPosition.Outer" />
                        </ChartMarker>
                    </ChartSeries>
                </ChartSeriesCollection>
            </SfChart>
        </div>
        
        <div class="border rounded bg-white ml-1 d-flex flex-column align-items-center" style="width:50%; height:100%;">
            <SfChart @ref="graficaUsuarios" Title="USUARIOS">
                <ChartPrimaryXAxis ValueType="Syncfusion.Blazor.Charts.ValueType.Category"></ChartPrimaryXAxis>
                <ChartPrimaryYAxis Visible="false" LabelFormat="n0" />
                <ChartTooltipSettings Enable="true" Header="Usuarios" Format="<b>${series.name}</b> : ${point.y}" Shared="true"></ChartTooltipSettings>
                <ChartSeriesCollection>
                    <ChartSeries DataSource="@datosGraficaUsuarios" Name="Usuarios Cobrados" XName="Descripcion" YName="Valor1" Type="ChartSeriesType.StackingColumn">
                        <ChartMarker>
                            <ChartDataLabel Visible="true" Position="Syncfusion.Blazor.Charts.LabelPosition.Outer" />
                        </ChartMarker>
                    </ChartSeries>
                </ChartSeriesCollection>
            </SfChart>
        </div>
    </div>

</div>


@* ****** Dialogos y ventanas secundarias ****** *@
<BusyIndicator Busy="@busyDialog" ContentText="Cargando datos...." />
<IngresosAnaliticoVtn @ref="VtnAnalitico" Fecha1="@f1" Fecha2="@f2" subsistema="@subsistema" sector="@sector" MostrarVentana="@VtnAnaliticoVisible" CerrarModal="@( e => VtnAnaliticoVisible = false )" />

<IngresosxDiasVtn @ref="VtnDias" Fecha1="@f1" Fecha2="@f2" subsistema="@subsistema" sector="@sector" MostrarVentana="vtnDiasVisible" CerrarModal="(e => vtnDiasVisible = false)" />
<Recaudacion_IngresosxCajas @ref="VtnCajas" Fecha1="@f1" Fecha2="@f2" subsistema="@subsistema" sector="@sector" MostrarVentana="VtnCajas_visible" CerrarModal="(e => VtnCajas_visible = false)" />
<Recaudacion_IngresosConceptos @ref="VtnConceptos" Fecha1="@f1" Fecha2="@f2" subsistema="@subsistema" sector="@sector" MostrarVentana="VtnConceptos_visible" CerrarModal="(e => VtnConceptos_visible = false)" />
<Recaudacion_IngresosTipoUsuario @ref="VtnTiposUsuarios" Fecha1="@f1" Fecha2="@f2" subsistema="@subsistema" sector="@sector" MostrarVentana="VtnTiposUsuarios_Visible" CerrarModal="(e => VtnTiposUsuarios_Visible = false)" />
<Recaudacion_LocalidadesVtn @ref="VtnPoblaciones" Desde="@f1" Hasta="@f2" subsistema="@subsistema" sector="@sector" Visible="VtnPoblaciones_Visible" OnClose="(e => VtnPoblaciones_Visible = false)" />
<Recaudacion_IngresosPagosMayoresVtn @ref="VtnPagosMayores" Fecha1="@f1" Fecha2="f2" subsistema="@subsistema" sector="@sector" MostrarVentana="VtnPagosMayores_Visible" CerrarModal="@(e => VtnPagosMayores_Visible = false)" />
<Recaudacion_FormasPago_View @ref="VtnFormasPago" Fecha1="@f1" Fecha2="@f2" subsistema="@subsistema" sector="@sector" MostrarVentana="VtnFormasPago_Visible" CerrarModal="@( e => VtnFormasPago_Visible = false)" />
<Recaudacion_ConceptosVtn @ref="VtnRConceptos" FechaDesde="@f1" FechaHasta="@f2" subsistema="@subsistema" sector="@sector" Visible="@VtnRConceptos_Visible" CerrarModal="@(e => VtnRConceptos_Visible = false)" />
