@inject SicemService sicemService

<div class="seleccionar-fecha d-flex flex-row align-items-center" style="height:@((MostrarPeriodos)?"64px":"45px; font-size:1.2rem;"); overflow-x:auto;">

    @if (MostrarPeriodos) {

        @* Seleccionar Subsitema y Sector *@
        @if(!OcultarSector){
            <div class="mx-1">
                <div class="text-center">
                    <span>Subsistema</span>
                </div>
                <input type="number" class="text-center" min="0" max="100" style="min-width: 68px; max-width: 68px;" @bind-value="@SubSistema">
            </div>
            <div class="mx-1">
                <div class="text-center">
                    <span>Sector</span>
                </div>
                <input type="number" class="text-center" min="0" max="100" style="min-width:68px; max-width:68px;" @bind-value="@Sector">
            </div>
        }
        

        @* Separador *@
        <div class="mx-1" />

        @* Seleccionar Fecha Por Periodo *@
        <div class="mx-1 d-flex flex-column">
            <div class="d-flex flex-row">
                <input type="date" class="" style="width:110px;" @bind-value="@fecha1">
                <input type="date" class="" style="width:110px;" @bind-value="@fecha2">
            </div>
            <div>
                <input type="button" style="width:220px; border:1px solid gray;" @onclick="@Procesar1_Click" Value="PROCESAR"></input>
            </div>
        </div>



        @* Seleccionar Fecha por Año y mes *@
        <div class="d-flex flex-column mx-1">
            <div class="d-flex flex-row" style="width:150px;">

                <select style="min-width:70px;" @bind="mesInput">
                    <option value="1">Ene</option>
                    <option value="2">Feb</option>
                    <option value="3">Mar</option>
                    <option value="4">Abr</option>
                    <option value="5">May</option>
                    <option value="6">Jun</option>
                    <option value="7">Jul</option>
                    <option value="8">Ago</option>
                    <option value="9">Sep</option>
                    <option value="10">Oct</option>
                    <option value="11">Nov</option>
                    <option value="12">Dic</option>
                </select>
                <input class="w-100" type="number" min="2000" max="2100" @bind-value="@añoInput">
            </div>
            <input type="button" style="width:150px; border:1px solid gray;" @onclick="@Procesar2_Click" Value="PROCESAR"></input>
        </div>

    }
    else {

        @* Seleccionar Fecha por Año y mes *@
        <div class="d-flex flex-row mx-2 align-items-center">
            <div class="me-2" >Año:</div>
            <input style="width:9rem; text-align:center" type="number" min="2000" max="2100" @bind-value="@añoInput" />
        </div>
        
        @if(!OcultarMes){
            <div class="d-flex flex-row mx-2 align-items-center">
                <div class="me-2" >Mes:</div>
                <select style="width:8rem; text-align:center; padding:2px 0px" @bind="mesInput">
                    <option value="1">Ene</option>
                    <option value="2">Feb</option>
                    <option value="3">Mar</option>
                    <option value="4">Abr</option>
                    <option value="5">May</option>
                    <option value="6">Jun</option>
                    <option value="7">Jul</option>
                    <option value="8">Ago</option>
                    <option value="9">Sep</option>
                    <option value="10">Oct</option>
                    <option value="11">Nov</option>
                    <option value="12">Dic</option>
                </select>
            </div>
        }

        @if(!OcultarSector){
            <div class="mx-2 d-flex align-items-center">
                <div class="text-center me-2">
                    <span>Subsistema</span>
                </div>
                <input type="number" class="text-center" min="0" max="100" style="width: 5rem;" @bind-value="@SubSistema">
            </div>
            <div class="mx-2 d-flex align-items-center">
            <div class="text-center me-2">
                    <span>Sector</span>
                </div>
                <input type="number" class="text-center" min="0" max="100" style="width: 5rem;" @bind-value="@Sector">
            </div>
        }

        @if(FiltroEstatus){
             <div class="d-flex flex-row mx-2 align-items-center">
                <div class="me-2">Estatus Padron:</div>
                <select style="width:14rem; text-align:center; padding:2px 0px" @bind="estatusSeleccionado">
                    <option value="0">SIN ESPECIFICAR</option>
                    @foreach (var key in catalogoEstatus.Keys.ToList())
                    {
                        <option value="@key">@catalogoEstatus[key]</option>
                    }
                </select>
            </div>
        }

        <input class="mx-3" type="button" style="width:150px; border:1px solid gray;" @onclick="@Procesar2_Click" Value="PROCESAR"></input>

    }

</div>

<style>
    .seleccionar-fecha input[type="button"]:hover{
        background-color:whitesmoke;
        outline: 1px solid #009bc1;
    }
</style>


@code {
    [Parameter]
    public EventCallback<SeleccionarFechaEventArgs> ProcesarParam { get; set; }

    [Parameter]
    public bool MostrarPeriodos { get; set; } = true;

    [Parameter]
    public bool OcultarMes { get; set; } = false;

    [Parameter]
    public bool OcultarSector { get; set; } = false;

    [Parameter]
    public bool FiltroEstatus { get; set; } = false;


    [Parameter] public DateTime fecha1 {get;set;} = DateTime.Now;
    [Parameter] public DateTime fecha2 {get;set;} = DateTime.Now;
    [Parameter] public int SubSistema {get;set;} = 0;
    [Parameter] public int Sector {get;set;} = 0;
    private int añoInput = DateTime.Now.Year;
    private int mesInput = DateTime.Now.Month;
    private int estatusSeleccionado = 1;
    private SeleccionarFechaEventArgs args = new SeleccionarFechaEventArgs();
    private Dictionary<int,string> catalogoEstatus = new Dictionary<int,string>();

    protected override void OnParametersSet()
    {
        añoInput = fecha1.Year;
        mesInput = fecha1.Month;

        catalogoEstatus = sicemService.CatalogoEstatusPadron();
        StateHasChanged();
    }
    public void ActualizarFecha(DateTime xt){
        this.fecha1 = xt;
        this.fecha2 = xt;
    }
    public void ActualizarFecha(DateTime xt1, DateTime xt2){
        this.fecha1 = xt1;
        this.fecha2 = xt2;

        this.añoInput = xt1.Year;
        this.mesInput = xt1.Month;

    }

    private void Procesar1_Click() {
        añoInput = fecha1.Year;
        mesInput = fecha1.Month;

        args.Fecha1 = fecha1;
        args.Fecha2 = fecha2;
        args.Subsistema = this.SubSistema;
        args.Sector = this.Sector;
        args.IdEstatus = estatusSeleccionado;

        ProcesarParam.InvokeAsync(args);
    }
    private void Procesar2_Click() {
        int diasMaxM = DateTime.DaysInMonth(añoInput,mesInput);
        fecha1 = new DateTime(añoInput, mesInput, 1);
        fecha2 = new DateTime(añoInput, mesInput, diasMaxM);

        args.Fecha1 = fecha1;
        args.Fecha2 = fecha2;
        args.Subsistema = this.SubSistema;
        args.Sector = this.Sector;
        args.IdEstatus = estatusSeleccionado;
        
        ProcesarParam.InvokeAsync(args);
    }

}