@page "/ConsultaGeneral"

@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.DropDowns
@using SICEM_Blazor.Shared.Dialogs

<div class="title-page">Consulta General</div>

@********** Filtro Cuenta **********@
<div class="panelBusqueda border rounded bg-white p-2">

    @if (catOficinas.Length > 0) {
        <div class="sInput cbOficinas">
            <label class="ml-2 px-2 my-auto" for="cb_oficinas">OFICINA:</label>
            <SfComboBox ID="cb_oficinas" TValue="int" TItem="Ruta" AllowCustom=true Placeholder="Seleccionar Oficina" DataSource="@catOficinas" @bind-Value="@IdOficina" Readonly="@(catOficinas.Length <= 1?true:false)" Width="100%">
                <ComboBoxFieldSettings Value="Id" Text="Oficina"></ComboBoxFieldSettings>
            </SfComboBox>
        </div>
    }

    <div class="sInput tbCuenta">
        <label class="ml-2 px-2 my-auto" for="tb_ncuenta">CUENTA:</label>
        <SfNumericTextBox ID="tb_ncuenta" @ref="tb_search" @bind-Value="@nCuenta" @onkeyup="@Tb_Cuenta_KeyUp"  TValue="long?" ShowSpinButton="false" Placeholder="Numero de Cuenta" Format="000000000" Width="100%" />
    </div>
    <button class="btn btn-primary px-3 py-2" style="transform: translateX(-3.25rem);" @onclick="SearchAccountClick">
        <i class="fa fa-search"/>
    </button>
    
    <MatButton Class="sInput btnBusqueda px-2 disableOnMobil" Raised="true" @onclick="@MostrarBusquedaAvz" Icon="search">
        Buscar Contratos
    </MatButton>
</div>

@********** Area Botones **********@
<div class="d-flex border rounded bg-white flex-row align-content-center p-2 mt-2 disableOnMobil">
    <MatButton Disabled="@DesBotones" Class="me-2 e-outline" Style="min-width:140px;" Unelevated="true" @onclick="@BotonMovimienos_click">Movimientos</MatButton>
    <MatButton Disabled="@DesBotones" Class="me-2 e-outline" Style="min-width:140px;" Unelevated="true" @onclick="@BotonModifABC_click"> Modif ABC </MatButton>
    <MatButton Disabled="@DesBotones" Class="me-2 e-outline" Style="min-width:140px;" Unelevated="true" @onclick="@BotonOrdenes_click"> Ordenes </MatButton>
    <MatButton Disabled="@DesBotones" Class="me-2 e-outline" Style="min-width:140px;" Unelevated="true" @onclick="@BotonAnticipos_click"> Anticipos </MatButton>
    <MatButton Disabled="@DesBotones" Class="me-2 e-outline" Style="min-width:140px;" Unelevated="true" @onclick="@BotonImagenes_click"> Imagenes @datosConsultaGral.TotalImagenes </MatButton>
</div>


<div class="grid-root mt-2">

    @********** DATOS GENERALES **********@
    <div class="d-flex flex-column border rounded bg-white p-2" style="grid-area:1/1/2/2;">
        <div class="mb-2 label-header">DATOS GENERALES</div>
        <DatosGenerales DatosConsultaGral="@datosConsultaGral" OnUbicacionClick="@(e => MostrarUbicacion_Click() )" />
    </div>

    @********** Datos Facturacion **********@
    <div class="d-flex flex-column border rounded bg-white p-2" style="grid-area:2/1/3/2;">
        <div class="mb-2 label-header">DATOS FACTURACION</div>
        <DatosFacturacion DatosConsultaGral="@datosConsultaGral" />
    </div>

    @********** Saldo Actual **********@
    <div class="border rounded bg-white p-2 panelConceptos">
        <div class="mb-2 label-header">CONCEPTOS FACTURADOS</div>
        <div class="p-1">
            <SfGrid @ref="@dataGrid" DataSource="@SaldoActualArray" AllowSorting="true" AllowFiltering="false" Height="100%" Width="100%" EnableHover="true" EnableAltRow="true">
                <GridColumns>
                    <GridColumn Field="@nameof(ConsultaGralResponse_saldoItem.Concepto)" HeaderText="CONCEPTO" TextAlign="TextAlign.Left" Width="110" Format="c2" />
                    <GridColumn Field="@nameof(ConsultaGralResponse_saldoItem.Subtotal)" HeaderText="IMPORTE" TextAlign="TextAlign.Right" Width="50" Format="c2" />
                    <GridColumn Field="@nameof(ConsultaGralResponse_saldoItem.Iva)" HeaderText="IVA" TextAlign="TextAlign.Right" Width="50" Format="c2" />
                    <GridColumn Field="@nameof(ConsultaGralResponse_saldoItem.Total)" HeaderText="TOTAL" TextAlign="TextAlign.Right" Width="50" Format="c2" />
                </GridColumns>
            </SfGrid>
        </div>
        <div class="p-1">
            <table class="table table-striped">
                <tbody>
                    <tr style="totalRow">
                        <td style="font-weight:bold;">TOTALES</td>
                        <td class="text-right"> @datosConsultaGral.SaldoAct_subtotal.ToString("c2")</td>
                        <td class="text-right"> @datosConsultaGral.SaldoAct_iva.ToString("c2")</td>
                        <td class="text-right"> @datosConsultaGral.SaldoAct_total.ToString("c2")</td>
                    </tr>
                    <tr style="totalRow">
                        <td style="font-weight:bold;">ANTICIPADOS</td>
                        <td class="text-right"> @datosConsultaGral.SaldoFavor_importe.ToString("c2")</td>
                        <td class="text-right"> @datosConsultaGral.SaldoFavor_m3_x_aplicar.ToString("c2")</td>
                        <td class="text-right"> @datosConsultaGral.SaldoFavor_meses_x_aplicar.ToString("c2")</td>
                    </tr>
                    <tr style="totalRow">
                        <td style="font-weight:bold;">DOCUMENTOS</td>
                        <td class="text-right"> @datosConsultaGral.Documentos_imp_atiempo.ToString("c2")</td>
                        <td class="text-right"> @datosConsultaGral.Documentos_imp_vencido.ToString("c2")</td>
                        <td class="text-right"> @datosConsultaGral.Documentos_imp_total.ToString("c2")</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    @********** Datos Clasificacion Usuario **********@
    <div class="d-flex flex-column border rounded bg-white p-2" style="grid-area:3/1/4/2;">
        <div class="mb-2 label-header">CLASIFICACION DEL USUARIO</div>
        <DatosClasificacionUsuario DatosConsultaGral="@datosConsultaGral" />
    </div>

    @********** Grafica Consumos **********@
    <div class="d-flex flex-column border rounded bg-white p-2" style="grid-area:3/2/4/3;">
        <div class="mb-2 label-header">HISTORIAL DE CONSUMOS</div>
        <SfChart @ref="@grafConsumos" Height="100%" Width="100%">
            <ChartPrimaryXAxis Title="Meses" Visible="true" ValueType="Syncfusion.Blazor.Charts.ValueType.Category"></ChartPrimaryXAxis>
            <ChartPrimaryYAxis Title="Metros Cubicos" Format="n0" Visible="false"></ChartPrimaryYAxis>
            <ChartLegendSettings Visible="false" />
            <ChartTooltipSettings Enable="true" Format="<b>${point.x} : ${point.y} m3 </b>" />
            <ChartSeriesCollection>
                <ChartSeries DataSource="@ItemsHistorialConsum" Name="Mes Facturado" XName="MesFacturado" YName="Consumo_Act" Type="ChartSeriesType.Column">
                    <ChartMarker>
                        <ChartDataLabel Visible="true"></ChartDataLabel>
                    </ChartMarker>
                </ChartSeries>
            </ChartSeriesCollection>
        </SfChart>
    </div>

</div>


@********** Ventanas Secundarias **********@
<BusquedaCuenta @ref="modal_BusquedaCuenta" Show="@MostrarModal_BuscarCuentas" CerrarModal="@CerrarVentana_BusquedaCuenta" />
<ConsultaGeral_Movimientos @ref="vtn_Movimientos" RazonSocial="@datosConsultaGral.Razon_social" Show="@MostrarModalMovimientos" Id_padron="@datosConsultaGral.Id_Padron" CerrarModal="@(()=> MostrarModalMovimientos = false )" />
<ConsultaGeral_ModificacionesABS @ref="vtn_ModificacionesABS" DatosGenerales="@datosConsultaGral" Show="@MostrarModalModifABC" CerrarModal="@(()=> MostrarModalModifABC = false)" />
<ConsultaGral_Ordenes @ref="vnt_Ordenes" Id_Padron="@datosConsultaGral.Id_Padron" Show="@MostrarModal_Ordenes" CerrarModal="@(()=> MostrarModal_Ordenes = false)" />
<ConsultaGral_Anticipos @ref="vnt_Anticipos" DatosGenerales="@datosConsultaGral" Show="@MostrarModal_Anticipos" CerrarModal="@(()=> MostrarModal_Anticipos = false)" />
<ConsultaGral_ImagenesVtn @ref="vnt_Imagenes" Id_Padron="@datosConsultaGral.Id_Padron" Show="@MostrarModal_Imagenes" CerrarModal="@(()=> MostrarModal_Imagenes = false)" />

@if(mostrarMapa){
    <MapaComponent 
        Titulo="@($"{catOficinas[IdOficina].Oficina} - Cuenta: {nCuenta} - {datosConsultaGral.Direccion} ")" 
        MarkerDataSource="@MarkerDataSource"
        OnClosed="@( e => mostrarMapa = false )"
    />
}

<BusyIndicator Busy="@Busy" ContentText="Cargando datos...." />