<div class="grid-df">

    <div class="grid-item" style="grid-area:1/1/2/2">
        <div class="label"> Servicio</div>
        <input type="text" value="@DatosConsultaGral.Servicio" readonly />
    </div>
    <div class="grid-item" style="grid-area:1/2/2/3">
        <div class="label"> Viviendas</div>
        <input type="text" value="@DatosConsultaGral.Viviendas" readonly />
    </div>
    <div class="grid-item" style="grid-area:1/3/2/4">
        <div class="label"> Meses Adeudo</div>
        <input type="text" value="@DatosConsultaGral.MesesAdeudo" readonly />
    </div>

    <div class="grid-item" style="grid-area:2/1/3/2">
        <div class="label"> Tarifa</div>
        <input type="text" value="@DatosConsultaGral.Tarifa" readonly />
    </div>
    <div class="grid-item" style="grid-area:2/2/3/3">
        <div class="label"> % Descto 60 y mas</div>
        <input type="text" value="@DatosConsultaGral.Descto60" readonly />
    </div>
    <div class="grid-item" style="grid-area:2/3/3/4">
        <div class="label"> Consumo Forzado</div>
        <input type="text" value="@DatosConsultaGral.ConsumoForzado" readonly />
    </div>

    <div class="grid-item" style="grid-area:3/1/4/2">
        <div class="label"> Tarifa Fija</div>
        <input type="text" value="@DatosConsultaGral.TarifaFija" readonly />
    </div>
    <div class="grid-item" style="grid-area:3/2/4/3">
        <div class="label"> Nivel Socio Econ.</div>
        <input type="text" value="@DatosConsultaGral.NivelSocioeconomico" readonly />
    </div>
    <div class="grid-item" style="grid-area:3/3/4/4">
        <div class="label"> Lectura Act.</div>
        <input type="text" value="@DatosConsultaGral.Lectura_Act" readonly />
    </div>

    <div class="grid-item" style="grid-area:4/1/5/2">
        <div class="label"> Imp. Fijo Agua</div>
        <input type="text" value="@DatosConsultaGral.ImporteFijoAgua" readonly />
    </div>
    <div class="grid-item" style="grid-area: 4/2/5/3">
        <div class="label"> Id Medidor</div>
        <input type="text" value="@DatosConsultaGral.Medidor" readonly />
    </div>
    <div class="grid-item" style="grid-area: 4/3/5/4">
        <div class="label"> Lectura Ant</div>
        <input type="text" value="@DatosConsultaGral.Lectura_Ant" readonly />
    </div>

    <div class="grid-item" style="grid-area:5/1/6/2">
        <div class="label"> Imp. Fijo Dren</div>
        <input type="text" value="@DatosConsultaGral.ImporteFijoDren" readonly />
    </div>
    <div class="grid-item" style="grid-area: 5/2/6/3">
        <div class="label"> Mes Facturado</div>
        <input type="text" value="@DatosConsultaGral.Ciclo" readonly />
    </div>
    <div class="grid-item" style="grid-area: 5/3/6/4">  
        <div class="label"> Consumo Real Act.</div>
        <input type="text" value="@DatosConsultaGral.ConsumoReal" readonly />
    </div>

    <div class="grid-item" style="grid-area:6/1/7/2">
        <div class="label"> Imp. Fijo Sane.</div>
        <input type="text" value="@DatosConsultaGral.ImporteFijoSane" readonly />
    </div>
    <div class="grid-item" style="grid-area: 6/2/7/3">
        <div class="label"> Fecha Lectura Ant.</div>
        <input type="text" value="@DatosConsultaGral.FechaLectura_Ant" readonly />
    </div>
    <div class="grid-item" style="grid-area: 6/3/7/4">
        <div class="label"> Consumo Act.</div>
        <input type="text" value="@DatosConsultaGral.Consumo_Act" readonly />
    </div>

    <div class="grid-item" style="grid-area:7/1/8/2">
        <div class="label"> Consumo Fijo</div>
        <input type="text" value="@DatosConsultaGral.ConsumoFijo" readonly />
    </div>
    <div class="grid-item" style="grid-area: 7/2/8/3">
        <div class="label"> Fecha Lectura Act.</div>
        <input type="text" value="@DatosConsultaGral.FechaLectura_Act" readonly />
    </div>
    <div class="grid-item" style="grid-area: 7/3/8/4">
        <div class="label"> Anomalia Act.</div>
        <input type="text" value="@DatosConsultaGral.Anomalia_Act" readonly />
    </div>

    <div class="grid-item" style="grid-area:8/1/9/2">
        <div class="label"> Cálculo</div>
        <input type="text" value="@DatosConsultaGral.Calculo" readonly />
    </div>
    <div class="grid-item" style="grid-area: 8/2/9/3">
        <div class="label"> Fecha Venc.</div>
        <input type="text" value="@DatosConsultaGral.FechaVencimiento" readonly />
    </div>
    <div class="grid-item" style="grid-area: 8/3/9/4">
        <div class="label"> Promedio Act.</div>
        <input type="text" value="@DatosConsultaGral.Promedio_Act" readonly />
    </div>

    <div class="grid-item" style="grid-area: 9/1/10/2">
        <div class="label"> Cálculo Act.</div>
        <input type="text" value="@DatosConsultaGral.CalculoAct" readonly />
    </div>
    <div class="grid-item" style="grid-area: 9/2/10/3">
        <div class="label"> Fecha Factura Act.</div>
        <input type="text" value="@DatosConsultaGral.FechaFactura_Act" readonly />
    </div>
    <div class="grid-item" style="grid-area: 9/3/10/4">
        <div class="d-flex" style="grid-area:1/1/2/3;">
            @if(DatosConsultaGral.EsDraef){
                <input class="ml-2 mr-2 my-auto" type="checkbox" checked disabled />
            }else{
                <input class="ml-2 mr-2 my-auto" type="checkbox" disabled />
            }
            <label class="my-auto" style="font-size:1rem; font-weight:600;">Es D.R.A.E.F.</label>
        </div>
    </div>

    <div class="grid-item" style="grid-area: 10/1/11/2">
        <div class="label"> LPS Pagados</div>
        <input type="text" value="@DatosConsultaGral.LPSPagados" readonly />
    </div>

</div>

<style>
    .grid-df {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 2.2rem 2.2rem 2.2rem 2.2rem 2.2rem 2.2rem 2.2rem 2.2rem 2.2rem 2.2rem ;
        grid-gap: 0.2rem 0.2rem;
    }

        .grid-df .grid-item {
            display: grid;
            grid-template-columns: 9.4rem 1fr;
            grid-template-rows: 1fr;
            align-items: center;
            height: 1.5rem;
        }

        .grid-df .label {
            grid-column: 1/2;
            font-size: .9rem;
            text-align: right;
            padding-right: 0.5rem;
            font-weight: 600;
        }

        .grid-df input[type=text] {
            grid-column: 2/3;
            font-size: 0.9rem;
            border-radius: 0 !important;
            box-shadow: none !important;
            font-weight: 600;
        }

        .grid-df input[type=checkbox] {
            box-shadow: none !important;
        }
</style>

@code {
    [Parameter] public ConsultaGralResponse DatosConsultaGral { get; set; }
}
