@page "/Configuracion"
@inject NavigationManager navigationManager

<div class="title-page" style="grid-area:1/1/2/2;">CONFIGURACIÓN</div>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="./">Inicio</a></li>
    <li class="breadcrumb-item active" aria-current="page">Configuracion</li>
  </ol>
</nav>

<div class="section-title">Configuraciones Generales</div>
<div class="c-items">

    <div class="card-s border p-3 d-flex flex-column align-items-center shadow" @onclick="@( e => navigationManager.NavigateTo("/Configuracion/CatUsuarios") )">
        <div class="c-label text-center">Configuracion Usuarios</div>
        <i class="c-icon fa fa-user"></i>
    </div>

    <div class="card-s border p-3 d-flex flex-column align-items-center shadow" @onclick="@( e => navigationManager.NavigateTo("/Configuracion/Oficinas") )">
        <div class="c-label text-center">Configuracion Oficinas</div>
        <i class="c-icon fa fa-building"></i>
    </div>

    <div class="card-s border p-3 d-flex flex-column align-items-center shadow" @onclick="@( e => navigationManager.NavigateTo("/Configuracion/Sucursales") )">
        <div class="c-label text-center">Configuracion Sucursales</div>
        <i class="c-icon fa fa-store-alt"></i>
    </div>
    
</div>

<div class="section-title"> Catalogos</div>
<div class="c-items">
    <div class="card-s border p-3 d-flex flex-column align-items-center shadow" @onclick="@( e => navigationManager.NavigateTo("/CatalogoTarifas") )">
        <div class="c-label">Tarifas</div>
        <i class="c-icon fa fa-usd"></i>
    </div>

    <div class="card-s border p-3 d-flex flex-column align-items-center shadow" @onclick="@( e => navigationManager.NavigateTo("/Configuracion/Conceptos") )">
        <div class="c-label">Conceptos</div>
        <i class="c-icon fa fa-receipt"></i>
    </div>
</div>

<hr/>

<div class="section-title">Historial</div>
<div class="c-items">
    <div class="card-s border p-3 d-flex flex-column align-items-center shadow" @onclick="@( e => navigationManager.NavigateTo("/HistorialModificaciones") )">
        <div class="c-label">Modificaciones</div>
        <i class="c-icon fa fa-clock"></i>
    </div>

    <div class="card-s border p-3 d-flex flex-column align-items-center shadow" @onclick="@(e => navigationManager.NavigateTo("/HistorialConexiones") )" >
        <div class="c-label">Conexiones</div>
        <i class="c-icon fa fa-network-wired"></i>
    </div>

    <div class="card-s border p-3 d-flex flex-column align-items-center shadow" @onclick="@(e => navigationManager.NavigateTo("/Sessiones") )" >
        <div class="c-label">Sesiones Activas</div>
        <i class="c-icon fa fa-network-wired"></i>
    </div>
</div>

<div class="section-title">Notificaciones</div>
<div class="c-items">
    <div class="card-s border p-3 d-flex flex-column align-items-center shadow" @onclick="@( e => navigationManager.NavigateTo("/NotificacionesTemplates") )">
        <div class="c-label">Templates</div>
        <i class="c-icon fa fa-wpforms"></i>
    </div>

    <div class="card-s border p-3 d-flex flex-column align-items-center shadow" @onclick="@( e => navigationManager.NavigateTo("/WhatsappQr") )">
        <div class="c-label">Qr Sesion</div>
        <i class="c-icon fa fa-qrcode"></i>
    </div>

</div>